@model GestaoDeLaboratorios.Models.Computadores

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar</h1>

<h3>Você tem certeza que deseja deletar?</h3>
<div>
    <h4>Computadores</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Marca
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class = "col-sm-2">
            Processador
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Processador)
        </dd>
        <dt class = "col-sm-2">
            Placa Mãe
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlacaMae)
        </dd>
        <dt class = "col-sm-2">
            Memória
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Memoria)
        </dd>
        <dt class = "col-sm-2">
            HD
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HD)
        </dd>
        <dt class = "col-sm-2">
            Número de Patrimonio
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroPatrimonio)
        </dd>
        <dt class = "col-sm-2">
            Data da Compra
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataCompra)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para a Lista</a>
    </form>
</div>
